## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
artifacts/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/build/

## Test results
[Tt]est[Rr]esult*/
TestResults/
*.trx
*.coverage
*.coveragexml
coverage/
coverage*.json
coverage*.xml

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db
